@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main: #a8dadc;
}

/* @media (prefers-color-scheme: dark) { */
/* :root { */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --main: #024950;
}
/* } */
/* } */
@theme {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-main: var(--main);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
*/ body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
a {
  display: flex;
  cursor: pointer;
}
.btn {
  display: block;
  width: fit-content;
  padding: 10px 18px;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--color-main);
  transition: 0.3s;
}
.data {
  background-color: var(--color-main);
  padding: 6px 12px;
  border-radius: 12px;
  user-select: none;
}
